<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Car Builder</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="style1.css" />
	</head>
	<body>
		<div id="app">
			<div id="buildScreen" key="build">
				<!--Three Tables: One for each car part:-->
				<span id="partMenu">
					<table >
						<tbody id="carParts">
							<tr v-for="part of partsList" v-bind:key="part._id">
								<td>{{part.name}}</td>
								<td>{{part.type}}</td>
								<td>{{part.cost}}</td>
								<td><button v-on:click="selectAPart(part._id)">Select</button></td>
							</tr>
						</tbody>
					</table>
				</span>
				<!--Canvas that shows car-->
				<p id="partDisplay">
					You are Player {{User}}</br>
					{{VehicleName}}</br>
					{{EngineName}}</br>
					{{TireName}}</br>
					<input 
						:class="validCost" readonly v-bind:value="currentTotal"></input></br>
				</p>
				<p id="serverMessage">
					{{serverMessage}}
				</p>
				<br>
				<button id = "show" button v-on:click="vehicleDisplay">Display Vehicle</button>
				<br>
				<span class="canvasSpan">
					<canvas id="buildCanvas" width="320" height="160">
						{{vehicleDisplay}};
						Sorry, canvas is not supported on your browser.
					</canvas>
				</span>

				
				<!--Button to Ready up, only clickable if validcost-->
				<span>
					<button v-if="validation" v-on:click="userReady">Ready up!</button>
				</span>
			</div>

			<!--Race Screen-->
			<div id="raceScreen" key="race">
				<canvas id="raceCanvas" width="960" height="320">
						Sorry, canvas is not supported on your browser.
				</canvas>
			</div>
		</div>
		<!--Backgroudn Image: https://depositphotos.com/1099638/stock-photo-tar-texture.html-->
		<!--
			db.carParts.insertOne({name: "Diamond", type: "tire", cost:"500"});
			db.carParts.insertOne({name: "Fancy", type: "tire", cost:"400"});
			db.carParts.insertOne({name: "Hover", type: "tire", cost:"300"});
			db.carParts.insertOne({name: "Square", type: "tire", cost:"100"});
			db.carParts.insertOne({name: "Tread", type: "tire", cost:"200"});

			db.carParts.insertOne({name: "Buggy", type: "vehicle", cost:"100"});
			db.carParts.insertOne({name: "Van", type: "vehicle", cost:"200"});
			db.carParts.insertOne({name: "Tank", type: "vehicle", cost:"300"});
			db.carParts.insertOne({name: "RaceCar", type: "vehicle", cost:"400"});
			db.carParts.insertOne({name: "DragCar", type: "vehicle", cost:"500"});

			db.carParts.insertOne({name: "One", type: "engine", cost:"100"});
			db.carParts.insertOne({name: "Two", type: "engine", cost:"200"});
			db.carParts.insertOne({name: "Three", type: "engine", cost:"300"});
			db.carParts.insertOne({name: "Four", type: "engine", cost:"400"});
			db.carParts.insertOne({name: "Five", type: "engine", cost:"500"});

		-->
	</body>
	<script src="scripts/jquery-3.4.1.js"></script> 
	<script src="vue.js"></script>

	<script src="/socket.io/socket.io.js" type="text/javascript"></script>
    
	<script src="client.js"></script>
</html>